#image-holder{
      width: 100vw;
      height: 100vh;
      z-index: 2;
      background-image:url(../images/ansambl.jpg); 
      background-repeat: no-repeat; 
      background-size: cover;
      background-attachment: fixed;
      background-position: center; 
      transition: 0.5s ease;
      -webkit-transition:0.5s ease;
   }
      #front-wrapper{
            width: 100vw;
            background: #fff;
            padding: 5px;
            z-index: 5;
      }
      #front-text{
         width: 60%;
         background: transparent;
         text-align: center;
          }

      #front-text h1{
         font-size: 50px;
         font-weight: bolder;
         padding: 20px;
      }
      #front-text p{
         font-size: 20px;
         text-align:center;
         padding: 10px;
      }
      #front-text hr{
            overflow: visible; /* For IE */
            height: 30px;
            border-style: solid;
            border-color: black;
            border-width: 1px 0 0 0;
            border-radius: 20px;
      }
      #front-text hr:before{
         display: block;
          content: "";
          height: 30px;
           margin-top: -31px;
           border-style: solid;
          border-color: black;
          border-width: 0 0 1px 0;
          border-radius: 20px;
     }
         #main-text::after{
         content: "|";
           width: 100px; 
           animation:blink 0.2s infinite;
      }
 @keyframes blink{
      from{color: black}
      to{color:white;}
 }
     @media screen and (max-width: 600px){
      #front-text{
         width: 100%;
      }
     }
     @media screen and (max-width: 1200px){
      #front-text{
         width: 80%;
      }
     }
@media screen and (max-width: 550px){
      	 #center-text{
      	 	left: -5vw;
         	width: 80%;
         }
         #center-text p{
         	font-size: 25px;
         }
         select{
          width: 60vw;
         }
      }
      @media screen and (min-width: 550px) and (max-width: 850px){
      	  #center-text{
         	left:-5vw;
         }
      }